# =============== #
# Unity generated #
# =============== #
WorldBank/Library
WorldBank/Temp
WorldBank/Build
WorldBank/Library/
WorldBank/Packages/
WorldBank/obj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
WorldBank/ExportedObj/
WorldBank/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vscode
.vsconfig

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# MSBuild for Unity
*.g.props
*.g.targets

Packages_/
!*.meta
WorldBank/Assets/Packages.meta
WorldBank/Assets/WSATestCertificate.pfx.*
WorldBank/Build/

# This file stores the Bing Maps dev key used by this Unity project.
# See <repo-root>/Readme.md for setup instructions.
WorldBank/Resources.meta
WorldBank/Resources/MapSessionConfig.*
*.DS_Store