# =============== #
# Unity generated #
# =============== #
Library
Temp
Build
Library/
Packages/
obj/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vscode

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# MSBuild for Unity
*.g.props
*.g.targets

Packages_/
!*.meta
Assets/Packages.meta
Assets/WSATestCertificate.pfx.*