# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vs

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
/ExportedObj/
/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vscode
.vsconfig

# ============ #
# OS generated #
# ============ #
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# MSBuild for Unity
*.g.props
*.g.targets

Packages_/
!*.meta
/Assets/Packages.meta
/Assets/WSATestCertificate.pfx.*
/Build/

# This file stores the Bing Maps dev key used by this Unity project.
# See <repo-root>/Readme.md for setup instructions.
/Resources.meta
/Resources/MapSessionConfig.*
*.DS_Store